<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <!-- firebase angular code -->
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.js"></script>

  <!-- your app's js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
  <script src="js/uuid.js"></script>
  <script src="js/app.js"></script>
</head>

<body ng-app="starter" ng-controller="firebaseCtl">

  <ion-pane>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Ionic Expense Maanger</h1>
      <i class="icon ion-plus" ng-show="sKey != null && page == 'list'" ng-click="gotoPage('add')"></i>
      <i class="icon ion-log-out" ng-show="sKey != null" ng-click="logout()"></i>
    </ion-header-bar>
    <ion-content>
      <div id="maps"></div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2897.8083399723223!2d-80.44303468467884!3d43.422830979129834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b8adbb4fa06cb%3A0xdafb8912d974bfa1!2sFairview+Park!5e0!3m2!1sen!2sca!4v1524939609393"
        width="90%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="index.html" class="indexhtmls1"><button>Back</button></a>
    </ion-content>
  </ion-pane>
</body>

</html>